$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #111;
$background-base: #fafafa;
$color-key1: #f5810e;
$color-key2: #fabe00;
$color-gradation: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);

$width-inner: 1140px;

$breakpoints: (
  sp: "screen and (max-width: 767px)",
  pc: "screen and (min-width: 768px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  background: $background-base;
  font-family: $font-family-ja;
}

.hidden-sp {
  @include mq(sp) {
    display: none;
  }
}

.hidden-pc {
  @include mq(pc) {
    display: none;
  }
}

.inner {
  padding-left: 15px;
  padding-right: 15px;

  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc($width-inner + 30px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.heading {
  text-align: center;
  font-family: $font-family-en;
}

.heading-en {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;

  @include mq(pc) {
    font-size: 50px;
    letter-spacing: 5px;
  }
}

.heading-ja {
  margin-top: 14px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.12px;

  @include mq(pc) {
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

.button {
  font-weight: 700;
  letter-spacing: 0.48px;
  padding: calc(10px - 2px) calc(30px - 2px);
  display: inline-block;
  border-radius: 60px;
  border: 2px solid currentColor;
  background: #fff;
  font-size: 16px;
  min-width: 150px;
  line-height: 1.7;
  color: $color-base;
  text-align: center;

  &--type2 {
    background-color: #111;
    color: #fff;
  }
}

.header {
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 22px 15px;

  @include mq(pc) {
    max-width: calc($width-inner + 30px * 2);
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 21px;
    padding-top: 28px 15px;
  }
}

.header__logo {
  a {
    img {
      width: 100px;
      display: block;

      @include mq(pc) {
        width: 135px;
        padding-top: 7px;
      }
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.header__link {
  font-weight: 700;
  letter-spacing: 0.48px;
}

.header__button {
  //   font-weight: 700;
  //   letter-spacing: 0.48px;
  //   padding: calc(10px - 2px) calc(30px - 2px);
  //   display: inline-block;
  //   border-radius: 60px;
  //   border: 2px solid $color-base;
  //   background: #fff;
}

.header__open {
  margin-top: 3px;
  @include mq(pc) {
    display: none;
  }
}

.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  border-radius: 6px;
  background: $color-base;

  &:nth-of-type(1) {
  }
  &:nth-of-type(2) {
    top: 9px;
  }
  &:nth-of-type(3) {
    top: 18px;
  }
}
// mv
.mv {
  border-radius: 20px;
  max-width: calc(100% - 15px * 2);
  margin-left: auto;
  margin-right: auto;
  background: $color-gradation;

  @include mq(pc) {
    border-radius: 30px;
    max-width: calc(100% - 30px * 2);
  }
}

.mv__inner {
  padding: 50px 20px 255px;
  position: relative;

  @include mq(pc) {
    padding-top: 110px;
    padding-bottom: 109px;
    max-width: 1040px;
    max-width: calc(1040px + 30px * 2);
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.mv__content {
}

.mv__lead {
}

.mv__lead1,
.mv__lead2 {
  font-feature-settings: "palt" on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.2px;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  @include mq(pc) {
    margin-left: 0;
    margin-right: 0;
    font-size: 38px;
    letter-spacing: 3.8px;
    padding: 12px 16px;
  }
}

.mv__lead1 {
  margin-bottom: 8px;

  @include mq(pc) {
    margin-bottom: 14px;
  }
}

.mv__lead2 {
}

.mv__description {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.48px;
  margin-top: 26px;

  @include mq(pc) {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-top: 20px;
  }
}

.mv__button {
  margin-top: 22px;
  text-align: center;

  @include mq(pc) {
    text-align: left;
    margin-top: 30px;
  }

  a {
    // text-align: center;
    // font-weight: 700;
    // letter-spacing: 0.48px;
    // color: #fff;
    // display: inline-block;
    // padding: calc(10px - 2px) calc(30px - 2px);
    // border-radius: 60px;
    // border: 2px solid #fff;
    // background: #111;
  }
}

.mv__image {
  position: absolute;
  right: 0;
  bottom: -108px;
  width: 100%;
  text-align: center;

  @include mq(pc) {
    width: calc(600px / 1100px * 100%);
    text-align: right;
    bottom: -88px;
    right: 30px;
  }

  img {
    width: 345px;

    @include mq(pc) {
      width: 600px;
    }
  }
}

// case
.case {
  margin-top: 108px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    margin-top: 88px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}

.case__inner {
  padding-left: 40px;
  padding-right: 40px;

  @include mq(pc) {
    max-width: calc(920px + 40px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.case__title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.8px;

  @include mq(pc) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.case__items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;

  @include mq(pc) {
    margin-top: 54px;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
  }
}

.case__item {
  text-align: center;

  img {
    width: 100%;
    display: block;
  }
}

// newsセクション
.news {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 53px;
  }
}

.news__inner {
  // padding-left: 15px;
  // padding-right: 15px;

  // @include mq(pc) {
  //   padding-left: 30px;
  //   padding-right: 30px;
  //   max-width: calc($width-inner + 30px * 2);
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

.news__card {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 9px 30px 0 #f4f4f4;
  padding: 40px 12px;

  @include mq(pc) {
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 34px;
    padding-left: calc(105px / 1140px * 100%);
    padding-right: calc(105px / 1140px * 100%);
  }
}

.news__title {
  font-family: $font-family-en;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;
  text-align: center;

  @include mq(pc) {
    text-align: left;
    font-size: 50px;
    letter-spacing: 5px;
  }
}

.news__lists {
  margin-top: 28px;
}

.news__list {
  &:nth-child(n + 2) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background: #e3e3e3;
    }
  }
}

.news__link {
  text-align: right;
  margin-top: 22px;

  @include mq(pc) {
    margin-top: 20px;
  }

  a {
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    border-bottom: 2px solid #111;
    padding-bottom: calc(10px - 2px);
    vertical-align: top;
  }
}

.news-link {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 10px;
  padding-bottom: 10px;

  @include mq(pc) {
    flex-direction: row;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 0;
    vertical-align: top;
  }
}

.news-link__meta {
  display: flex;
  align-items: center;
  gap: 14px;

  @include mq(pc) {
    width: 247px;
    flex-shrink: 0;
  }
}

.news-link__date {
  color: #333;
  white-space: nowrap;

  @include mq(pc) {
    width: 119px;
  }
}

.news-link__label {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  padding: 2px 10px;

  border-radius: 2px;
  min-width: 63px;
  text-align: center;

  &.is-news {
    background: #e4780c;
  }

  &.is-column {
    background: #ecb815;
  }

  &.is-event {
    background: #389b47;
  }
}

.news-link__title {
  // 1行にまとめる場合
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

// aboutセクション

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;

  @include mq(pc) {
    padding-top: 39px;
    padding-bottom: 100px;
  }
}

.about__inner {
}

.about__title {
  text-align: center;

  img {
    width: 180px;

    @include mq(pc) {
      width: 230px;
    }
  }
}

.about__content {
  margin-top: 150px;
  padding-top: 288px;
  padding-bottom: 105px;
  position: relative;
  text-align: center;

  @include mq(pc) {
    margin-top: 176px;
    padding-top: 284px;
    padding-bottom: 100px;
  }

  &::before {
    content: "";
    width: 1100px;
    height: 1100px;
    border-radius: 50%;
    background: $color-gradation;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    @include mq(pc) {
      width: 800px;
      height: 800px;
    }
  }
}

.about__image {
  position: absolute;
  text-align: center;
  top: -110px;
  left: 0;
  width: 100%;

  @include mq(pc) {
    top: -126px;
  }

  img {
    width: 320px;

    @include mq(pc) {
      width: 330px;
    }
  }
}

.about__text {
  font-weight: 700;
  line-height: 2.3;
}

.about__pop {
  margin-top: 42px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;

  @include mq(pc) {
    margin-top: 42px;
  }
}

.about__button {
  margin-top: 12px;

  @include mq(pc) {
    margin-top: 15px;
  }

  button {
    // font-weight: 700;
    // line-height: 1.7;
    // letter-spacing: 0.48px;
    // padding: calc(10px - 2px) calc(30px - 2px);
    // display: inline-block;
    // border-radius: 60px;
    // border: 2px solid $color-base;
    // background: #fff;
  }
}

// movieセクション
.movie {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left / 529px auto;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.movie__inner {
  padding-left: 15px;
  padding-right: 15px;
}

.movie__title {
  //   text-align: center;
}

.movie__title-en {
  //   font-family: $font-family-en;
  //   font-size: 38px;
  //   font-weight: 700;
  //   line-height: 1;
  //   letter-spacing: 3.8px;

  //   @include mq(pc){
  //     font-size: 50px;
  //     letter-spacing: 5px;
  //   }
}

.movie__title-ja {
  //   margin-top: 14px;
  //   font-family: $font-family-en;
  //   font-size: 14px;
  //   line-height: 1;
  //   letter-spacing: 1.12px;

  //   @include mq(pc){
  //     font-size: 16px;
  //     letter-spacing: 1.28px;
  //   }
}

.movie__iframe {
  margin-top: 32px;
  text-align: center;

  @include mq(pc) {
    margin-top: 56px;
  }

  iframe {
    width: 345px;
    max-width: 100%;
    height: auto;
    aspect-ratio: 345 / 194;
    vertical-align: top;

    @include mq(pc) {
      width: 640px;
      aspect-ratio: 640 / 360;
    }
  }
}

// how-to-useセクション
.how-to-use {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.how-to-use__inner {
}

.how-to-use__title {
  img {
  }
}

.how-to-use__boxes {
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  gap: 113px;

  @include mq(pc) {
    margin-top: 89px;
    gap: 75px;
  }
}

.how-to-use__box {
  border-radius: 30px;
  background: #fffbf0;
  padding: 54px 40px 48px;

  @include mq(pc) {
    border-radius: 40px;
    padding: 44px 10px 56px;
  }
}

.how-to-use__box-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  position: relative;

  @include mq(pc) {
    font-size: 22px;
    letter-spacing: 2.2px;
    padding-right: 95px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    position: absolute;
    width: 85px;
    right: 50%;
    transform: translateX(50%);
    bottom: calc(100% + 16px);

    @include mq(pc) {
      right: 0;
      transform: translateX(0);
      bottom: 0;
    }
  }

  .is-type2 & {
    @include mq(pc) {
      padding-right: 0;
      padding-left: 95px;

      img {
        right: auto;
        left: 0;
      }
    }
  }
}

.how-to-use__steps {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @include mq(pc) {
    margin-top: 40px;
    max-width: 948px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 24px;
  }
}

.how-to-use__step {
  @include mq(pc) {
    // width: calc(33.3% - 24px * 2 / 3);
    flex: 1;
  }
}

.step-box {
  padding-top: 45px;
  position: relative;
}

.step-box__head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #111;
  background: #f5810e;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  .is-type2 & {
    background: #fabe00;
  }
}

.step-box__head-text {
  font-family: $font-family-en;
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.3px;
}

.step-box__head-number {
  color: #fff;
  font-family: $font-family-en;
  font-size: 34px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 3.4px;
  margin-top: 3px;
}

.step-box__body {
  border-radius: 30px;
  border: 3px solid #111;
  background: #fff;
  padding: calc(50px - 3px) 10px calc(26px - 3px);
  text-align: center;
}

.step-box__image {
  img {
    width: 160px;

    @include mq(pc) {
      width: 200px;
    }
  }
}

.step-box__text {
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

// meritセクション
.merit {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fafafa;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.merit__inner {
}

.merit__boxes {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(pc) {
    margin-top: 60px;
    gap: 40px;
  }
}

.merit__box {
}

.merit-box {
  border-radius: 20px;
  background: #fff;
  padding: 10px 20px 24px;

  @include mq(pc) {
    padding: 20px 18px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
  }

  &.is-reverse {
    @include mq(pc) {
      flex-direction: row;
    }
  }
}

.merit-box__content {
  @include mq(pc) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }

  .is-reverse & {
    @include mq(pc) {
      flex-direction: row;
    }
  }
}

.merit-box__image {
  text-align: center;

  @include mq(pc) {
    width: calc(350 / 920 * 100%);
  }

  img {
    width: 200px;
    height: auto;

    @include mq(pc) {
      width: 350px;
    }
  }
}

.merit-box__body {
  margin-top: 18px;

  @include mq(pc) {
    margin-top: 0;
    width: calc(520 / 920 * 100%);
  }
}

.merit-box__head {
  display: flex;
  align-items: center;
  gap: 14px;

  @include mq(pc) {
    gap: 28px;
  }
}

.merit-box__number {
  color: #fabe00;
  font-family: $font-family-en;
  font-size: 70px;
  font-weight: 600;
  line-height: 100%;

  @include mq(pc) {
    font-size: 110px;
  }
}

.merit-box__title {
  font-family: $font-family-en;
  font-weight: 700;
  letter-spacing: 1.6px;

  @include mq(pc) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.merit-box__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 200%;

  @include mq(pc) {
    font-size: 15px;
    margin-top: 16px;
  }
}

// compareセクション
.compare {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.compare__inner {
}

.compare__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;

  @include mq(pc) {
    font-size: 24px;
  }
}

.compare__content {
  margin-top: 40px;
  overflow-x: auto;
  margin-bottom: 38px;

  @include mq(pc) {
    margin-top: 60px;
    padding-bottom: 0;
  }
}

.compare__table {
  width: 620px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

  @include mq(pc) {
    width: 1000px;
  }

  th,
  td {
    text-align: center;
    font-weight: 700;
    height: 60px;
    vertical-align: middle;

    @include mq(pc) {
      height: 100px;
    }

    &:nth-child(1) {
      width: 130px;

      @include mq(pc) {
        width: 250px;
      }
    }

    &:nth-child(2) {
      width: 90px;
      background: #fff9e5;
      font-size: 16px;
      letter-spacing: 0.42px;

      @include mq(pc) {
        width: 250px;
        font-size: 25px;
        letter-spacing: 0.75px;
      }

      img {
        width: 70px;

        @include mq(pc) {
          width: 123px;
        }
      }
    }
  }

  th {
    letter-spacing: 0.48px;

    @include mq(pc) {
      font-size: 20px;
      letter-spacing: 0.6px;
    }
  }

  td {
    font-size: 14px;
    letter-spacing: 0.42px;

    @include mq(pc) {
      font-size: 16px;
      letter-spacing: 0.48px;
    }
  }
}

thead {
  th {
    letter-spacing: 1.6px;

    @include mq(pc) {
      letter-spacing: 2px;
    }
  }
}

tbody {
  tr {
    border-top: 1.5px solid #000;

    @include mq(pc){
      border-top-width: 3px;
    }
  }

  th,
  td{
    height: calc(60px - 1.5px);

    @include mq(pc){
      height: 100px;
    }
  }
}

.compare__attention {
  margin-top: 11px;
  color: #686868;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;

  @include mq(pc) {
    display: none;
  }
}
